.sleepy-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}

.sleepy-overlay > .sleepy-modal img {
    height: 400px;

}

.sleepy-overlay #exit-popup {
    position: relative;
    right: -390px;
    top: 25px;
}

.sleepy-modal {
    position: fixed;
    top: 68%;
    /*left: 50%;*/
    bottom: 54px;
    right: -214px;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 449px;
    z-index: 99999;
    padding: 5px 10px;
}

.sleepy-modal .step > form {
    position: relative;
    top: -65px;
    left: 102px;
}

.sleepy-modal .step > form > input {
    width: 279px;
    border: none;
}

.sleepy-modal .step > form > input:focus {
    outline: none;
}

.sleepy-modal .step > form > button{
    border-radius: 30px;
    background-color: #fa961d;
    margin-left: 6px;
}

.sleepy-modal #pop-submit > span{
    color: #ffffff;
}

#exit-popup{
    border-radius: 30px;
    background-color: #fa961d;
}

#exit-popup >span{
    color: #ffffff;
}

/*@media only screen and (min-width: 40.063em) {*/

/*.sleepy-message .sleepy-mobile-only {*/
/*display: none;*/
/*}*/
/*}*/